*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
header{
  width:100%;
  background-color:hotpink;
  padding:30px 20px;
  display:flex;
  justify-content:flex-end;
  }
header>div{
  flex-basis:140px;
  height:70px;
  background-color:pink;
  margin:0 10px;
}
header>:first-child{
  margin-right:auto;
}
main{
  display:flex;
  justify-content:center;
}
.sidebar{
  width:300px;
  background-color:palegreen;
}
.content{
  background-color:green;
  padding:20px;
  max-width:700px;
  flex-grow:1;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
.content>div{
  margin:10px;
  flex-basis:200px;
  height:130px;
  background-color:yellow;
}
footer{
  background-color:#6595ed;
  width:100%;
  padding:20px;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
footer>div{
  background-color:#66cdaa;
  margin:10px;
  height:40px;
  flex-basis:45%;
  max-width:600px;
}